<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.asm.spring.test.pension_ajax.repository.PensionRepository">
	<select id="selectRepository" resultType="com.asm.spring.test.pension_ajax.domain.Pension">
		SELECT
			`id`,
			`name`,
			`headcount`,
			`day`,
			`date`,
			`phoneNumber`,
			`state`
			
			FROM `booking`;
	</select>
	
	<delete id="deleteList" parameterType="int">
		DELETE FROM `booking` 
		WHERE `id` = #{id}
		LIMIT 1;
	</delete>
	
	<insert id="createList" parameterType="map">
		INSERT INTO `booking`
		(`name`, `date`, `day`, `headcount`, `phoneNumber`, `state`)
		VALUE
		(
			#{name},
			#{date},
			#{day},
			#{headcount},
			#{phoneNumber},
			#{state}
		)
	</insert>
</mapper>