<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.asm.spring.test.mybatis.repository.RealEstateRepository">
	<select id="selectRealEstate" resultType="com.asm.spring.test.mybatis.domain.RealEstate"
	parameterType="int">
		SELECT 
			`id`
		,	`realtorId`
		,	`address`
		,	`area`
		,	`type`
		,	`price`
		,	`rentPrice`
		,	`createdAt`
		,	`updatedAt`
		
		FROM `real_estate`
		WHERE id = #{id}
	</select>
	
	<select id="selectRealEstate2" resultType="com.asm.spring.test.mybatis.domain.RealEstate"
	parameterType="int">
		SELECT
			`id`
		,	`realtorId`
		,	`address`
		,	`area`
		,	`type`
		,	`price`
		,	`rentPrice`
		,	`createdAt`
		,	`updatedAt`
		
		FROM `real_estate`
		WHERE <![CDATA[rentPrice <= #{rentPrice}]]>
	</select>
	
	<select id="selectRealEstate3" parameterType="map" resultType="com.asm.spring.test.mybatis.domain.RealEstate">
		SELECT 
			`id`
		,	`realtorId`
		,	`address`
		,	`area`
		,	`type`
		,	`price`
		,	`rentPrice`
		,	`createdAt`
		,	`updatedAt`
		
		FROM `real_estate`
		WHERE 
		<![CDATA[
			area >= #{area}
			AND
			price <= #{price}
			AND
			type = "매매"
		]]>
	</select>
	
	<!-- 아래는 객체(모델)를 매개변수로 사용을 하므로 매개변수 타입을 그 객체가 경로로 한다.-->
	<insert id="insertByRealEstateObject" parameterType="com.asm.spring.test.mybatis.domain.RealEstate">
		INSERT
			`real_estate`
			(
					`realtorId`
				,	`address`
				,	`area`
				,	`type`
				,	`price`
				,	`rentPrice`
			)
			
			VALUE
			(
					#{realtorId}
				,	#{address}
				,	#{area}
				,	#{type}
				,	#{price}
				,	#{rentPrice}
			)
	</insert>
	
	<insert id="insertRealEstateByElement" parameterType="map"> <!-- 매개변수가 여러개 이므로 매개변수 형은 map으로 해야한다. -->
		INSERT
			`real_estate`
			(
					`realtorId`
				,	`address`
				,	`area`
				,	`type`
				,	`price`
				,	`rentPrice`
			)
			
			VALUE
			(
					#{realtorId}
				,	#{address}
				,	#{area}
				,	#{type}
				,	#{price}
				,	#{rentPrice}
			)
	</insert>
	
	<update id="updateRealEstateByObject" parameterType="int">
		UPDATE
			`real_estate`
				set
					`type` = '전세',
					`price` = 70000
						WHERE id = #{id}
	</update>
	<!-- 아래의 코드는 정수형을 변수를 매개변수로 가지는 delete쿼리입니다. -->
	<delete id="deleteRealEstateByObject" parameterType="int">	
	<!-- 아래의 id를 매개변수로 갖는다. -->
	<!-- deleteRealEstateByObject메소드를 실행을 하면 아래의 쿼리가 실행이 된다. -->
		DELETE FROM `real_estate` WHERE id = #{id}
	</delete>
</mapper>