<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.asm.spring.test.mvc.repository.SellerRepository">
	<insert id="insertSeller" parameterType="map">
		INSERT INTO
			`seller`
			(
				`nickName`,
				`temperature`,
				`profileImage`
			)
			VALUE
			(
				#{nickName},
				#{temperature},
				#{profileImage}
			)
	</insert>
	
	<select id="searchLastUser" resultType="com.asm.spring.test.mvc.domain.Seller">
		SELECT 
			`nickName`,
			`temperature`,
			`profileImage`
			
			FROM 
				`seller`
			
			ORDER BY `id` DESC
			LIMIT 1			
	</select>
	
	<select id="selectSeller" resultType="com.asm.spring.test.mvc.domain.Seller">
	    SELECT 
	        `nickName`,
	        `temperature`,
	        `profileImage`
	    FROM 
	        `seller`
	    WHERE
	        `id` = #{id}
</select>

</mapper>
