<?xml version="1.0" encoding="UTF-8"?>

<!-- 아래의 코드는 mybatis를 사용을 하기위해 작성을 해야하는 코드입니다. -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.asm.spring.test.databaseInterlock.repository.StoreRepository">
	<select id="selectedStoreList" resultType="com.asm.spring.test.databaseInterlock.domain.Store">
		SELECT `id`
		,	`name` <!-- 집에 있는 db에서는 store이다 그러므르 집에서는 store로 바꾸어 주어야한다. -->
		,	`phoneNumber`
		,	`address`
		,	`businessNumber`
		,	`introduce`
		,	`createdAt`
		,	`updatedAt`
		FROM
			`store`
	</select> 
 </mapper>