<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>날씨 정보</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<link rel="stylesheet" href="/thymeleaf/weather/css/style.css">
</head>
<body>
	<div id="wrap">
		<section class="content d-flex">
			<nav class="main-menu bg-primary">
				<div class="logo  d-flex justify-content-center">
					<img width="100px" height="100px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/Korea_Meteorological_Administration_Logo_%28horizontal%29.svg/300px-Korea_Meteorological_Administration_Logo_%28horizontal%29.svg.png">
				</div>
				<div class="category text-white">
					<ul class="nav flex-column font-weight-bold mt-3">
						<li class="nav-item"><a href="/thymeleaf/weather/list" class="nav-link text-white">날씨</a></li>
						<li class="nav-item"><a href="/thymeleaf/weather/input" class="nav-link text-white">날씨입력</a></li>
						<li class="nav-item"><a href="#" class="nav-link text-white">테마날씨</a></li>
						<li class="nav-item"><a href="#" class="nav-link text-white">관측기후</a></li>
					</ul>
				</div>
			</nav>
			
			<section class="main-content">
				<table class="table">
					<thead>
						<tr>
							<th>날짜</th>
							<th>날씨</th>
							<th>기온</th>
							<th>강수량</th>
							<th>미세먼지</th>
							<th>풍속</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="weather : ${weather}">
							<td th:text="${weather.date}">2015년7월1일</td>
							
							<td th:switch="${weather.weather}">
								<img th:case="맑음" src="http://marondal.com/material/images/dulumary/web/jstl/sunny.jpg" alt="맑음을 표시하기위한 사진입니다.">
								<img th:case="비" src="http://marondal.com/material/images/dulumary/web/jstl/rainy.jpg" alt="비를 표시하기위한 사진입니다.">
							</td>
							
							<td th:text="${weather.temperatures}">21.9°C</td>
							<td th:text="${weather.precipitation}">83.5mm</td>
							<td th:text="weather.microDust">보통</td>
							<td th:text="weather.windSpee">2.9km/h</td>
					</tbody>
				</table>
			</section>
		</section>
		<footer class="d-flex">
			<div class="image-space d-flex text-space align-items-center">
				<img height="100px" width="300px" src="https://www.weather.go.kr/w/resources/image/photo/img_flower_photo_none.gif" alt="기상청 로고입니다.">
			</div>
			<div class="d-flex text-space justify-content-start align-items-center text-secondary">
				서울 (07062) 서울특별시 동작구 여의대방로16길 61
				<br>
				Copyright@2022 KMA. All Rights RESERVED.
			</div>
		</footer>
	</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
</body>
</html>