<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>판매자 정보</title>
</head>
<body>
    <h1>판매자 정보</h1>
    
    <table border="1">
        <tr>
            <td>
                <img width="200px" height="200px" th:src="${seller.profileImage}" alt="이미지입니다">
            </td> 
        </tr>
        <tr>
            <td th:text="${seller.nickName}"></td> 
        </tr>
        <tr>
            <td th:text="${seller.temperature}"></td> 
        </tr>
    </table>
</body>
</html>