<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>test01 input</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>

	<h1>즐겨찾기 추가하기</h1>
	<label>제목</label>
	<input type="text" id="inputName"><br>
	<label class="mt-5">주소</label>
	<input type="text" id="inputUrl"><button type="button" class="ml-3 btn bg-danger" id="isDuplicate">중복확인</button><br>
	<div class="text-danger d-none" id="duplicateText">중복된 url입니다.</div>
	<div class="text-success d-none" id="availableText">사용가능한 url입니다</div>
	<button class="mt-5 bg-success btn" type="button" id="submitBtn">추가</button>
	
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<script>
	$(document).ready(function() 
	{
		$("#submitBtn").on("click", function() 
		{
			let name = $("#inputName").val();
			let url = $("#inputUrl").val();

			if(name == "")
			{
				alert("이름을 확인해주세요.");
				return;
			}
			
			else if(url == "")
			{
				alert("주소가 비어있어요.");
				return;
			}
			
			if(!url.startsWith("http://") && !url.startsWith("https://")) 
			{
				alert("주소는 http:// 또는 https://로 시작해야 합니다.");
				return;
			}
			
			$.ajax
			({
				type:"post",
				url:"/ajax/create",
				data:{"name":name, "url":url},
				success:function(data)
				{
					if(data.result == "success")
					{
						alert("추가 성공");
						location.href = "/ajax/list";
					}
					else
					{
						alert("추가 실패");
					}
				}
				,error:function()
				{
					alert("추가 에러");
				}
			});
		});
		
		$("#isDuplicate").on("click", function()
		{
			let url = $("#inputUrl").val();
			
			if(url == "")
			{
				alert("url이 비어있습니다");
				return ;
			}
			
			$.ajax
			({
				type:"get",
				url:"/ajax/isDuplicate",
				data:{"url":url},
				success:function(data)
				{
					if(data.isDuplicate)
					{
						alert("중복되었습니다.");
						$("#duplicateText").removeClass("d-none");
						$("#availableText").addClass("d-none");
					}
					else 
					{
						alert("사용가능한 url 입니다.");
						$("#availableText").removeClass("d-none");
						$("#duplicateText").addClass("d-none");
					}
				}
				,error:function()
				{
					alert("중복확인 에러!!");
				}
			});
		});
	});
</script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
</body>
</html>