<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Test01 list</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
	<h1>즐겨 찾기 목록</h1>
	
	<table border="1" class="table text-center">
		<thead>
			<tr>
				<th>NO.</th>
				<th>이름</th>
				<th>주소</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="favorite : ${favorite}">
				<td class="id" th:text="${favorite.id}">1</td>
                <td class="name" th:text="${favorite.name}">안성민</td>
                <td class="url" th:text="${favorite.url}">www.google.com</td>
				<td><button type="button" th:data-favorite-id="${favorite.id}" class="btn bg-danger deleteBtn btn-sm">삭제</button></td>
			</tr>
		</tbody>
	</table>
	
	<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
	
	<script>
		$(document).ready(function()
		{
			$(".deleteBtn").on("click", function()
			{
				let id = $(this).data("favorite-id");
				
				$.ajax
				({					
					type:"get",
					url:"/ajax/delete",
					data:{"id":id},
					success:function(data)
					{
						if(data.result == "success")
						{
							alert("삭제 성공");
							location.reload();
						}
						
						else
						{
							alert("삭제 실패");
						}
					}
					,error:function()
					{
						alert("삭제 에러");
					}
				});
			});
		});
	</script>
</body>
</html>