<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>통나무 펜션</title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
       

        <link rel="stylesheet" href="/ajax/pension/css/style2.css">
    </head>

    <body>
        <div id="wrap" >
            <header class="mt-4">
                <div class="text-center display-4">통나무 팬션</div>
                <nav class="mt-4">
                    <ul class="nav nav-fill">
                        <li class="nav-item"><a class="nav-link" href="#">팬션소개</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">객실보기</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">예약안내</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">커뮤니티</a></li>
                    </ul>
                </nav>
            </header>

            <section class="banner">
                <img width="1200px" height="500px" src="https://cdn.pixabay.com/photo/2024/07/08/05/41/girl-8880144__340.png" id="bannerImage">
            </section>
            <section class="d-flex">
                <article class="reservation d-flex justify-content-center align-items-center">
                    <div class="display-4">
                        실시간 <br>
                        예약 하기 
                    </div>
                </article>
                <article class="reservation-confirm">
                    <div class="m-4">
                        <div class="d-flex align-items-end">
                            <h3 class="mr-4">예약 확인</h3>
                        </div>
                        <div class="member-input mt-3" id="member">
                            <div class="input-gorup form-inline">
                                <label class="input-label">이름 :</label>
                                <input type="text" class="form-control text-input" id="name">
                            </div>
                            <div class="input-gorup form-inline mt-3">
                                <label class="input-label">전화번호 :</label>
                                <input type="text" class="form-control text-input" id="phoneNumber">
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-success mt-3 mr-5" id="lookupBtn">조회 하기</button>
                        </div>
                    </div>
                </article>
                <article class="reservation-call d-flex justify-content-center align-items-center">
                    <div>
                        <h3>예약문의 : </h3>
                        <h1>010-</h1>
                        <h1>000-1111</h1>
                    </div>
                </article>
            </section>

            <footer class="mt-3 ml-4">
                <address>
                    제주특별자치도 제주시 애월읍  <br>
                    사업자등록번호: 111-22-255222 / 농어촌민박사업자지정 / 대표:김통목 <br>
                    Copyright 2025 tongnamu All right reserved
                </address>

            </footer>


        </div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(document).ready(function() {

            
            $("#lookupBtn").on("click", function()
            {
            	let name = $("#name").val();
				let phoneNumber = $("#phoneNumber").val();
            	
            	if(name == "")
            	{
            		alert("이름을 입력해주세요.");
            		return;
            	}
            	
            	if(phoneNumber == "")
            	{
            		alert("전화번호를 입력해주세요.");
            		return;
               	}
            	
            	$.ajax
            	({
            		type:"post",
            		url:"/pension/search",
            		data:
            		{
            			"name": name,
						"phoneNumber": phoneNumber
            		},
            		success:function(data)
            		{
            			if(data.result == "success") //data가 가지고 있는 key중 result에 접근을 하여서 그 값을 가지고 옵니다~
            			{
            				let pension = data.pension; //data가 가지고있는 key중 pension에 접근을 해서 model에서 조회된 항목들을 가지고옵니다.
                            alert
                            (
                                "이름: " + pension.name + "\n" +
                                "날짜: " + pension.date + "\n" +                                
                                "일수: " + pension.day + "\n" +
                                "인원: " + pension.headcount + "\n" +
                                "상태: " + pension.state
                            );
            			}
            			else
            			{
            				alert("조회 결과가 없습니다")
            			}
            			
            		},
            		error:function()
            		{
            			alert("조회 에러");
            		}
            		
            	});
            });

            var bannerList = ["https://cdn.pixabay.com/photo/2023/12/07/11/11/girl-8435339__340.png", "https://cdn.pixabay.com/photo/2024/07/08/05/16/girl-8880120__340.png", "https://cdn.pixabay.com/photo/2024/07/08/05/09/girl-8880111__340.png", "https://cdn.pixabay.com/photo/2024/04/19/14/44/woman-8706492__340.png"];
            var currentImageIndex = 0;
            setInterval(function() {
                $("#bannerImage").attr("src", bannerList[currentImageIndex]);
                currentImageIndex++;

                if(currentImageIndex == bannerList.length) {
                    currentImageIndex = 0;
                }
            }, 3000); 
        } );
    </script>
    </body>
</html>