<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>test03</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
	<h1>멤버십</h1>
	<table border="1" class="table text-center"> 
		<thead>
			<tr>
				<th>이름</th>
				<th>전화번호</th>
				<th>등급</th>
				<th>포인트</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="member : ${member}">
				<td th:text="${member.name}"></td>
				<td th:text="${member.phoneNumber}"></td>
				
				<td th:switch="${member.grade}"> <!-- 등급을 판단하는 영역입니다 -->
					<span th:case="VIP" class="text-danger" th:text="${member.grade}"></span>
					<span th:case="GOLD" class="text-warning" th:text="${member.grade}"></span>
					<span th:case="*" th:text="${member.grade}"></span>
				</td>
				
				<td>
					<span  th:if="${member.point >= 5000}" class="text-primary" th:text="|${member.point}P|"></span>
					<span  th:unless="${member.point >= 5000}" th:text="|${member.point}P|"></span>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>